<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.houssup.userapp">
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectImagesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ThreeStepsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuestionOneActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AnsweredSuccessActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdateFloorPlanActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UploadLayoutsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FloorSuccessActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MoreHomeImagesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeSuccessActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MoodActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectImage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectDesignersActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DesignerTabsActivity"
            android:label="@string/title_activity_designer_tabs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UpActivity"></activity>

        <activity
            android:name="nl.changer.polypicker.ImagePickerActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>